<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="page-sidebar nav-collapse collapse" th:fragment="menu">
    <!-- 侧栏菜单 开始 -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- 侧栏翻转按钮 开始 -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- 侧栏翻转按钮 结束 -->
        </li>
        <!--<li>-->
            <!--&lt;!&ndash; BEGIN RESPONSIVE QUICK SEARCH FORM &ndash;&gt;-->
            <!--<form class="sidebar-search">-->
                <!--<div class="input-box">-->
                    <!--<a href="javascript:;" class="remove"></a>-->
                    <!--<input type="text" placeholder="Search..."/>-->
                    <!--<input type="button" class="submit" value=" "/>-->
                <!--</div>-->
            <!--</form>-->
            <!--&lt;!&ndash; END RESPONSIVE QUICK SEARCH FORM &ndash;&gt;-->
        <!--</li>-->
        <li class="start active ">
            <a href="../index.html">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span class="title">Layouts</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="layout_horizontal_sidebar_menu.html">
                        Horzontal &amp;amp; Sidebar Menu</a>
                </li>
                <li>
                    <a href="layout_horizontal_menu1.html">
                        Horzontal Menu 1</a>
                </li>
                <li>
                    <a href="layout_horizontal_menu2.html">
                        Horzontal Menu 2</a>
                </li>
                <li>
                    <a href="layout_promo.html">
                        Promo Page</a>
                </li>
                <li>
                    <a href="layout_email.html">
                        Email Templates</a>
                </li>
                <li>
                    <a href="layout_ajax.html">
                        Content Loading via Ajax</a>
                </li>
                <li>
                    <a href="layout_sidebar_closed.html">
                        Sidebar Closed Page</a>
                </li>
                <li>
                    <a href="layout_blank_page.html">
                        Blank Page</a>
                </li>
                <li>
                    <a href="layout_boxed_page.html">
                        Boxed Page</a>
                </li>
                <li>
                    <a href="layout_boxed_not_responsive.html">
                        Non-Responsive Boxed Layout</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-bookmark-empty"></i>
                <span class="title">UI Features</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="ui_general.html">
                        General</a>
                </li>
                <li>
                    <a href="ui_buttons.html">
                        Buttons</a>
                </li>
                <li>
                    <a href="ui_modals.html">
                        Enhanced Modals</a>
                </li>
                <li>
                    <a href="ui_tabs_accordions.html">
                        Tabs &amp;amp; Accordions</a>
                </li>
                <li>
                    <a href="ui_jqueryui.html">
                        jQuery UI Components</a>
                </li>
                <li>
                    <a href="ui_sliders.html">
                        Sliders</a>
                </li>
                <li>
                    <a href="ui_tiles.html">
                        Tiles</a>
                </li>
                <li>
                    <a href="ui_typography.html">
                        Typography</a>
                </li>
                <li>
                    <a href="ui_tree.html">
                        Tree View</a>
                </li>
                <li>
                    <a href="ui_nestable.html">
                        Nestable List</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- 侧栏菜单 结束 -->
</div>
</body>
</html>