<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="page-sidebar nav-collapse collapse" th:fragment="menu">
    <!-- 侧栏菜单 开始 -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- 侧栏翻转按钮 开始 -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- 侧栏翻转按钮 结束 -->
        </li>
        <li class="start active ">
            <a th:href="@{/index}">
                <i class="icon-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-user"></i>
                <span class="title">个人中心</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a th:href="@{/article/list}">
                        <i class="icon-file"></i>
                        文章管理
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- 侧栏菜单 结束 -->
</div>
</body>
</html>