<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- HEAD 开始 -->
<head>
    <meta charset="utf-8"/>
    <title>首页</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- 全局强制样式 开始 -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/style-metro.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/style-responsive.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
    <link th:href="@{css/uniform.default.css}" rel="stylesheet" type="text/css"/>
    <!-- 全局强制样式 结束 -->
    <!-- 页面级样式 开始 -->
    <link th:href="@{css/error.css}" rel="stylesheet" type="text/css"/>
    <!-- 页面级样式 结束 -->
    <link rel="shortcut icon" th:href="@{image/favicon.ico}"/>
</head>
<!-- HEAD 结束 -->
<!-- BODY 开始 -->
<body class="page-header-fixed page-sidebar-fixed page-sidebar-closed">
<!-- 顶部 开始 -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- 顶部导航条 开始 -->
    <div th:replace="common/top::top"></div>
    <!-- 顶部导航条 结束 -->
</div>
<!-- 顶部 结束 -->
<!-- 容器 开始 -->
<div class="page-container row-fluid">
    <!-- 工具栏 开始 -->
    <div th:replace="common/menu::menu"></div>
    <!-- 工具栏 结束 -->
    <!-- 页面 开始 -->
    <div th:replace="common/page::page"></div>
    <!-- 页面 结束 -->
</div>
<!-- 容器 结束 -->
<!-- 页脚 开始 -->
<div th:replace="common/footer::footer"></div>
<!-- 页脚 结束 -->
<!-- JAVASCRIPTS 开始(在底部加载JavaScript，这将减少页面加载时间) -->
<!-- 核心插件 开始 -->
<script th:src="@{js/jquery-1.10.1.min.js}" type="text/javascript"></script>
<script th:src="@{js/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
<!-- IMPORTANT!在bootstrap.min.js之前加载jquery-ui-1.10.1.custom.min.js，以修复bootstrap tooltip与jquery ui tooltip冲突 -->
<script th:src="@{js/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="js/excanvas.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script th:src="@{js/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{js/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{js/jquery.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{js/jquery.uniform.min.js}" type="text/javascript"></script>
<!-- 核心插件 结束 -->
<script th:src="@{js/app.js}" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!-- JAVASCRIPTS 结束 -->
</body>
<!-- BODY 结束 -->
</html>